<div class="header" >
    <div class="content">
        <div class="logo"><img src="~/Assets/Web/public/images/logo.png" /></div>
        <div class="nav">
            <ul>
                <li class="on"><a href="/">首页</a></li>
                <li class=""><a href="/Web/StartProject">进行中的项目</a></li>
                <li class=""><a href="/Web/OverProject">已完成项目</a></li>
                <li class=""><a href="/Web/Talents">人才列表</a></li>
            </ul>
        </div>

        <div class="user">
            <span><em>登录</em> | <em>注册</em></span>
            <p><img src="~/Assets/Web/public/images/top.png" /></p>
            <ul>
                <li>退出</li>
            </ul>
        </div>
        <div class="search">
            <p><input type="text" name="searchs" value="" placeholder="请输入关键字" /><i class="iconfont">&#xe627;</i></p>
        </div>
    </div>
</div>
<div class="header-h" ></div>