@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
    ViewBag.Title = "首页";
}
@Styles.Render("~/Assets/Web/talents/css/talents.css")
<div class="talents">
    <div class="title">
        <h2>人才列表</h2>
        <p>为建筑结构设计项目提供优质人才</p>
    </div>
    <div class="content">
        <div class="l">
            <div class="t">
                <h2>岗位分类</h2>
            </div>
            <div class="b">
                <ul>
                    <li class="on"><i class="iconfont">&#xe7f0;</i> 全部</li>
                    <li><i class="iconfont">&#xe711;</i> 专业负责人</li>
                    <li><i class="iconfont">&#xe62b;</i> 设计师</li>
                    <li><i class="iconfont">&#xe62c;</i> 助理设计师</li>
                    <li><i class="iconfont">&#xe65b;</i> 现场配合人</li>
                    <li><i class="iconfont">&#xe7f1;</i> 校对人</li>
                </ul>
            </div>
        </div>
        <div class="r">
            <ul>
                <li>
                    <div class="t">
                        <div class="t-a">
                            <label>刘小姐</label>
                            <p><span>001</span></p>
                            <span onclick="sc(this)"><i class="iconfont">&#xe708;</i><i class="iconfont">&#xe707;</i><em>关注</em></span>
                        </div>
                        <div class="t-b">
                            <label>平台岗位：<span>设计师</span></label>
                            <p>工作经验：9年</p>
                        </div>
                    </div>
                    <div class="b">
                        <h2>专业：建筑结构设计师</h2>
                        <p><i class="iconfont">&#xe60e;</i> 广东省-深圳市</p>
                    </div>
                </li>
                <li>
                    <div class="t">
                        <div class="t-a">
                            <label>刘小姐</label>
                            <p><span>001</span></p>
                            <span onclick="sc(this)"><i class="iconfont">&#xe708;</i><i class="iconfont">&#xe707;</i><em>关注</em></span>
                        </div>
                        <div class="t-b">
                            <label>平台岗位：<span>设计师</span></label>
                            <p>工作经验：9年</p>
                        </div>
                    </div>
                    <div class="b">
                        <h2>专业：建筑结构设计师</h2>
                        <p><i class="iconfont">&#xe60e;</i> 广东省-深圳市</p>
                    </div>
                </li>
                <li>
                    <div class="t">
                        <div class="t-a">
                            <label>刘小姐</label>
                            <p><span>001</span></p>
                            <span onclick="sc(this)"><i class="iconfont">&#xe708;</i><i class="iconfont">&#xe707;</i><em>关注</em></span>
                        </div>
                        <div class="t-b">
                            <label>平台岗位：<span>设计师</span></label>
                            <p>工作经验：9年</p>
                        </div>
                    </div>
                    <div class="b">
                        <h2>专业：建筑结构设计师</h2>
                        <p><i class="iconfont">&#xe60e;</i> 广东省-深圳市</p>
                    </div>
                </li>
            </ul>
            <div id="pages" ></div>
        </div>
    </div>
    <div class="gg" ><img src="~/Assets/Web/public/images/rc_gg.png" /></div>
</div>
@Scripts.Render("~/Assets/Web/talents/js/talents.js")
<script>
    $(function () {
        $('.header .nav li').eq(3).addClass('on');
    })
</script>