.main .layui-layout-admin .layui-body .content .container {
  padding: 0;
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  right: 0;
}
.link-up {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.link-up > div.l {
  padding-top: 30px;
  width: 210px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.link-up > div.l > h2 {
  font-size: 18px;
  line-height: 22px;
  width: 60%;
  margin: 0 auto;
}
.link-up > div.l ul {
  margin-top: 10px;
}
.link-up > div.l ul li {
  line-height: 40px;
  height: 40px;
  font-size: 14px;
  color: #999999;
  cursor: pointer;
}
.link-up > div.l ul li p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60%;
  margin: 0 auto;
}
.link-up > div.l ul li:hover,
.link-up > div.l ul li.on {
  color: #489DFC;
  background-color: #E6F7FF;
  border-right: 2px solid #489DFC;
}
.link-up > div.r {
  padding: 20px 20px 20px 0;
  float: right;
  width: calc(100vw - 430px);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}
.link-up > div.r div.link-up-r {
  background-color: white;
  height: 100%;
}
.link-up > div.r div.link-up-title {
  height: 50px;
  background: #ffffff;
  border-radius: 2px 2px 0px 0px;
  line-height: 50px;
}
.link-up > div.r div.link-up-title ul {
  padding: 0 20px;
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
}
.link-up > div.r div.link-up-title ul li {
  width: 60px;
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-size: 14px;
}
.link-up > div.r div.link-up-title ul li.on,
.link-up > div.r div.link-up-title ul li:hover {
  color: #489DFC;
}
.link-up > div.r div.link-up-title ul li.on:before,
.link-up > div.r div.link-up-title ul li:hover:before {
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #489DFC;
  position: absolute;
}
.link-up > div.r div.link-up-content {
  height: calc(100% - 50px);
  display: none;
}
.link-up > div.r div.link-up-content div.top {
  overflow: hidden;
  padding: 20px 20px 0 20px;
}
.link-up > div.r div.link-up-content div.top div.l {
  float: left;
}
.link-up > div.r div.link-up-content div.top div.l h2 {
  font-size: 18px;
  font-weight: 600;
  color: #489DFC;
  line-height: 25px;
}
.link-up > div.r div.link-up-content div.top div.l > p {
  font-size: 14px;
  color: #999999;
  line-height: 20px;
  margin-top: 13px;
}
.link-up > div.r div.link-up-content div.top div.l div {
  margin-top: 13px;
}
.link-up > div.r div.link-up-content div.top div.l div p {
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
  color: #666666;
  line-height: 20px;
  cursor: pointer;
}
.link-up > div.r div.link-up-content div.top div.l div p i {
  font-size: 16;
  float: left;
  margin-right: 10px;
}
.link-up > div.r div.link-up-content div.top div.r {
  padding: 40px 0;
}
.link-up > div.r div.link-up-content div.top div.r p {
  display: inline-block;
  font-size: 14px;
  color: #666666;
  margin-left: 30px;
  cursor: pointer;
}
.link-up > div.r div.link-up-content div.top div.r p i {
  font-size: 16px;
  color: #489DFC;
  vertical-align: middle;
}
.link-up > div.r div.link-up-content div.link-up-main {
  padding: 20px;
  height: 400px;
  overflow-y: auto;
}
.link-up > div.r div.link-up-content div.link-up-main .line-time {
  position: relative;
  height: 20px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.link-up > div.r div.link-up-content div.link-up-main .line-time span {
  display: inline-block;
  background-color: white;
  padding: 0 30px;
  z-index: 9;
  position: relative;
}
.link-up > div.r div.link-up-content div.link-up-main .line-time:before {
  border-bottom: 1px solid #dddddd;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  position: absolute;
  display: block;
}
.link-up > div.r div.link-up-content div.link-up-main .list .item {
  margin-top: 20px;
}
.link-up > div.r div.link-up-content div.link-up-main .list .item > p {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  float: left;
  overflow: hidden;
}
.link-up > div.r div.link-up-content div.link-up-main .list .item > p img {
  width: 100%;
}
.link-up > div.r div.link-up-content div.link-up-main .list .item div.c {
  margin-left: 45px;
  position: relative;
}
.link-up > div.r div.link-up-content div.link-up-main .list .item div.c div.title span {
  font-size: 12px;
  color: #333333;
  line-height: 17px;
}
.link-up > div.r div.link-up-content div.link-up-main .list .item div.c div.title em {
  font-size: 12px;
  color: #999999;
  line-height: 17px;
  font-style: normal;
  margin: 0 5px;
}
.link-up > div.r div.link-up-content div.link-up-main .list .item div.c div.title i {
  font-size: 14px;
  color: #999999;
  cursor: pointer;
}
.link-up > div.r div.link-up-content div.link-up-main .list .item div.c div.title i:hover {
  color: #489DFC;
}
.link-up > div.r div.link-up-content div.link-up-main .list .item div.c div.title .del {
  position: absolute;
  left: 0;
  top: 15px;
  width: 215px;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  line-height: 50px;
  padding-left: 25px;
  color: #666666;
}
.link-up > div.r div.link-up-content div.link-up-main .list .item div.c div.title .del:hover {
  color: #489DFC;
}
.link-up > div.r div.link-up-content div.link-up-main .list .item div.c div.title .del:hover i {
  color: #489DFC;
}
.link-up > div.r div.link-up-content div.link-up-main .list .item div.c div.title .del i {
  font-size: 16px;
  color: #999999;
  margin-right: 10px;
}
.link-up > div.r div.link-up-content div.link-up-main .list .item div.c div.con {
  margin-top: 8px;
  font-size: 14px;
  color: #666666;
  line-height: 1.5;
}
.link-up > div.r div.link-up-content div.link-up-main .list .item div.c div.con a {
  color: #489DFC;
}
.link-up > div.r div.link-up-content div.link-up-import {
  height: 200px;
  border-top: 1px solid #dddddd;
}
.link-up > div.r div.link-up-content div.link-up-import div.top {
  padding: 18px 30px 0 30px;
  background-color: white;
}
.link-up > div.r div.link-up-content div.link-up-import div.top div {
  display: inline-block;
  padding-right: 20px;
  cursor: pointer;
}
.link-up > div.r div.link-up-content div.link-up-import div.top div:hover {
  color: #489DFC;
}
.link-up > div.r div.link-up-content div.link-up-import div.top div:hover i {
  color: #489DFC;
}
.link-up > div.r div.link-up-content div.link-up-import div.top div i {
  font-size: 21px;
  color: #999999;
}
.link-up > div.r div.link-up-content div.link-up-import div.top #qqe {
  display: block;
  margin-right: 0;
  position: absolute;
  left: 10px;
  background-color: white;
  width: 430px;
  height: 140px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: none;
}
.link-up > div.r div.link-up-content div.link-up-import div.top #qqe img {
  cursor: pointer;
}
.link-up > div.r div.link-up-content div.link-up-import div.imports {
  padding: 8px 20px;
}
.link-up > div.r div.link-up-content div.link-up-import div.imports textarea {
  width: 100%;
  border: 0px;
  font-size: 16px;
  padding: 10px 10px;
  height: 120px;
}
.link-up > div.r div.link-up-content div.link-up-import div.imports p {
  float: right;
  padding: 0 20px;
}
.link-up > div.r div.link-up-content div.link-up-flie {
  margin: 20px;
  height: calc(100% - 40px);
  overflow-y: auto;
}
.link-up > div.r div.link-up-content div.link-up-flie ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #dddddd;
}
.link-up > div.r div.link-up-content div.link-up-flie ul li h2 {
  font-size: 16px;
}
.link-up > div.r div.link-up-content div.link-up-flie ul li p {
  font-size: 14px;
  margin-top: 10px;
  color: #999999;
}
.project-member {
  position: fixed;
  top: 200px;
  width: 320px;
  bottom: 10px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: none;
}
.project-member > .title {
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  padding: 0 24px;
  color: #333333;
  border-bottom: 1px solid #dddddd;
}
.project-member > .title span {
  color: #999999;
}
.project-member > .title i {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  float: right;
  display: block;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.project-member ul {
  overflow-y: auto;
}
.project-member ul li {
  margin-top: 10px;
  padding: 0 20px;
}
.project-member ul li div.title {
  cursor: pointer;
  font-size: 14px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.project-member ul li div.title i {
  font-size: 14px;
  margin-right: 5px;
}
.project-member ul li div.list {
  padding: 5px 0;
  display: none;
}
.project-member ul li div.list div.list-member {
  overflow: hidden;
  padding: 5px 0;
}
.project-member ul li div.list div.list-member > p {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.project-member ul li div.list div.list-member > p img {
  width: 100%;
}
.project-member ul li div.list div.list-member h2 {
  margin-left: 45px;
  font-size: 14px;
  line-height: 36px;
  font-weight: 600;
}
