.looking-for div.t {
  overflow: hidden;
}
.looking-for div.t.three div.l {
  width: 39.5%;
  float: left;
}
.looking-for div.t.three div.r {
  width: 39.5%;
  float: left;
  margin-left: 1%;
}
.looking-for div.t.three div.talents {
  width: 19%;
  float: right;
}
.looking-for div.t.three div.talents .talentsContent {
  padding: 12px 0;
}
.looking-for div.t.three div.talents .talentsContent p {
  width: 172px;
  height: 67px;
  background: #f6f7fb;
  border-radius: 5px;
  border: 1px solid #d5d6dc;
  margin: 0 auto;
  padding: 12px;
  line-height: 45px;
  font-size: 19px;
  color: #999999;
  cursor: pointer;
}
.looking-for div.t.three div.talents .talentsContent p i {
  width: 44px;
  height: 43px;
  background: #489DFC;
  border-radius: 5px;
  font-size: 25px;
  text-align: center;
  line-height: 43px;
  color: white;
  display: block;
  float: left;
  margin-right: 20px;
}
.looking-for div.t.three div.talents .talentsContent span {
  display: block;
  margin-top: 17px;
  text-align: center;
  font-size: 12px;
  color: #999999;
  line-height: 17px;
}
.looking-for div.t div.l {
  width: 49.5%;
  float: left;
}
.looking-for div.t div.l .layui-card {
  padding: 0 0 0 18px;
}
.looking-for div.t div.l .layui-card .layui-card-body {
  height: 176px;
}
.looking-for div.t div.l .layui-card .layui-card-body .usermsg {
  overflow: hidden;
}
.looking-for div.t div.l .layui-card .layui-card-body .usermsg .username {
  float: left;
  overflow: hidden;
}
.looking-for div.t div.l .layui-card .layui-card-body .usermsg .username h2 {
  font-size: 16px;
  color: #666666;
  line-height: 24px;
  float: left;
}
.looking-for div.t div.l .layui-card .layui-card-body .usermsg .username p {
  margin-left: 8px;
  float: left;
  background: url(../images/icon_vip_back.jpg) no-repeat center;
  width: 52px;
  height: 24px;
  background-size: cover;
  position: relative;
}
.looking-for div.t div.l .layui-card .layui-card-body .usermsg .username p span {
  font-size: 12px;
  color: #489DFC;
  position: absolute;
  right: 0;
  line-height: 24px;
  width: 35px;
  text-align: center;
}
.looking-for div.t div.l .layui-card .layui-card-body .usermsg .grade {
  float: left;
  margin-left: 40px;
  line-height: 24px;
  font-size: 14px;
  color: #666666;
}
.looking-for div.t div.l .layui-card .layui-card-body .usermsg .grade a {
  font-size: 14px;
  color: #489DFC;
}
.looking-for div.t div.l .layui-card .layui-card-body .link {
  margin-top: 20px;
  overflow: hidden;
  line-height: 20px;
}
.looking-for div.t div.l .layui-card .layui-card-body .link a {
  display: block;
  float: left;
  font-size: 14px;
  position: relative;
  padding-right: 10px;
  margin-right: 10px;
}
.looking-for div.t div.l .layui-card .layui-card-body .link a span {
  color: #489DFC;
}
.looking-for div.t div.l .layui-card .layui-card-body .link a::before {
  height: 60%;
  position: absolute;
  top: 20%;
  right: 0;
  content: '';
  display: block;
  border-right: 1px solid #dddddd;
}
.looking-for div.t div.l .layui-card .layui-card-body .link a:last-child::before {
  display: none;
}
.looking-for div.t div.l .layui-card .layui-card-body .btn {
  margin-top: 24px;
  overflow: hidden;
}
.looking-for div.t div.l .layui-card .layui-card-body .btn button:first-child {
  background-color: #489DFC;
  color: white;
}
.looking-for div.t div.l .layui-card .layui-card-body .btn button:first-child a {
  color: white;
}
.looking-for div.t div.l .layui-card .layui-card-body .btn button:last-child {
  background-color: white;
  color: #489DFC;
  border: 1px solid #489DFC;
  margin-left: 48px;
}
.looking-for div.t div.r {
  width: 49.5%;
  float: right;
}
.looking-for div.t div.r .layui-card {
  padding: 0 18px 0 0;
}
.looking-for div.t div.r .layui-card .layui-card-header {
  padding: 12px 38px;
}
.looking-for div.t div.r .layui-card .layui-card-header::before {
  left: 18px;
}
.looking-for div.t div.r .layui-card .layui-card-body {
  padding: 25px 0 25px 18px;
  height: 176px;
}
.looking-for div.t div.r .layui-card .layui-card-body ul.notice li {
  line-height: 20px;
  position: relative;
  padding-left: 20px;
  overflow: hidden;
  margin-top: 15px;
}
.looking-for div.t div.r .layui-card .layui-card-body ul.notice li:before {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background: #e5e5e5;
  display: block;
  content: '';
  border-radius: 50%;
}
.looking-for div.t div.r .layui-card .layui-card-body ul.notice li:first-child {
  margin-top: 0px;
}
.looking-for div.t div.r .layui-card .layui-card-body ul.notice li a:hover h2 {
  color: #489DFC;
}
.looking-for div.t div.r .layui-card .layui-card-body ul.notice li h2 {
  font-size: 14px;
  color: #666666;
  float: left;
}
.looking-for div.t div.r .layui-card .layui-card-body ul.notice li h2 font {
  height: 22px;
  background: #489DFC;
  border-radius: 2px;
  color: white;
  padding: 0 10px;
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  line-height: 22px;
}
.looking-for div.t div.r .layui-card .layui-card-body ul.notice li span {
  float: right;
  display: block;
  font-size: 14px;
  color: #666666;
}
.looking-for div.b {
  margin-top: 16px;
  background-color: white;
  border-radius: 4px;
  padding: 60px 0;
  overflow: hidden;
}
.looking-for div.b div.listContent {
  text-align: center;
}
.looking-for div.b div.listContent div.list {
  width: 367px;
  color: white;
  padding: 30px;
  box-shadow: 0px 2px 10px 0px rgba(72, 157, 252, 0.31);
  border-radius: 5px;
  border: 2px solid white;
  display: inline-block;
  margin: 0 85px;
  transition: 0.3s all;
}
.looking-for div.b div.listContent div.list:hover {
  border: 2px solid #489DFC;
}
.looking-for div.b div.listContent div.list > h2 {
  font-size: 24px;
  color: #489DFC;
  line-height: 33px;
  text-align: center;
}
.looking-for div.b div.listContent div.list > p {
  width: 135px;
  height: 105px;
  margin: 30px auto 0 auto;
}
.looking-for div.b div.listContent div.list > p img {
  width: 100%;
}
.looking-for div.b div.listContent div.list > span {
  display: block;
  margin-top: 25px;
  text-align: center;
  color: #999999;
  line-height: 20px;
  font-size: 14px;
}
.looking-for div.b div.listContent div.list div.tip {
  margin-top: 50px;
  text-align: left;
}
.looking-for div.b div.listContent div.list div.tip h2 {
  font-size: 16px;
  font-weight: 500;
  color: #999999;
  line-height: 22px;
}
.looking-for div.b div.listContent div.list div.tip p {
  margin-top: 8px;
  font-size: 14px;
  color: #489DFC;
  line-height: 20px;
  position: relative;
  padding-left: 16px;
}
.looking-for div.b div.listContent div.list div.tip p::before {
  width: 8px;
  height: 8px;
  background: #489DFC;
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 50%;
}
.looking-for div.b div.listContent div.list div.btn {
  margin-top: 45px;
}
.looking-for div.b div.listContent div.list div.btn button {
  width: 262px;
  height: 40px;
  background: #489DFC;
  box-shadow: 0px 2px 10px 0px rgba(72, 157, 252, 0.5);
  border-radius: 2px;
}
.looking-for-list div.t .layui-card .layui-card-body {
  overflow: hidden;
}
.looking-for-list div.t .layui-card .layui-card-body div.l {
  float: left;
  margin: 0 50px 0 12px;
}
.looking-for-list div.t .layui-card .layui-card-body div.l p {
  width: 72px;
  height: 72px;
  overflow: hidden;
  border-radius: 50%;
}
.looking-for-list div.t .layui-card .layui-card-body div.l p img {
  width: 100%;
}
.looking-for-list div.t .layui-card .layui-card-body div.r {
  float: left;
}
.looking-for-list div.t .layui-card .layui-card-body div.r > h2 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 28px;
}
.looking-for-list div.t .layui-card .layui-card-body div.r .usermsg {
  overflow: hidden;
  margin-top: 17px;
}
.looking-for-list div.t .layui-card .layui-card-body div.r .usermsg .username {
  float: left;
  overflow: hidden;
}
.looking-for-list div.t .layui-card .layui-card-body div.r .usermsg .username h2 {
  font-size: 16px;
  color: #666666;
  line-height: 24px;
  float: left;
}
.looking-for-list div.t .layui-card .layui-card-body div.r .usermsg .username p {
  margin-left: 8px;
  float: left;
  background: url(../images/icon_vip_back.jpg) no-repeat center;
  width: 52px;
  height: 24px;
  background-size: cover;
  position: relative;
}
.looking-for-list div.t .layui-card .layui-card-body div.r .usermsg .username p span {
  font-size: 12px;
  color: #489DFC;
  position: absolute;
  right: 0;
  line-height: 24px;
  width: 35px;
  text-align: center;
}
.looking-for-list div.t .layui-card .layui-card-body div.r .usermsg .grade {
  float: left;
  margin-left: 40px;
  line-height: 24px;
  font-size: 14px;
  color: #666666;
}
.looking-for-list div.t .layui-card .layui-card-body div.r .usermsg .grade a {
  font-size: 14px;
  color: #489DFC;
}
.looking-for-list div.t .layui-card .layui-card-body div.r .btn {
  margin-top: 17px;
  overflow: hidden;
}
.looking-for-list div.t .layui-card .layui-card-body div.r .btn button:first-child {
  background-color: #489DFC;
  color: white;
}
.looking-for-list div.t .layui-card .layui-card-body div.r .btn button:last-child {
  background-color: white;
  color: #489DFC;
  border: 1px solid #489DFC;
  margin-left: 48px;
}
.looking-for-list div.t .layui-card .layui-card-body div.num {
  float: right;
  padding: 25px 0;
}
.looking-for-list div.t .layui-card .layui-card-body div.num a {
  display: block;
  float: left;
  position: relative;
  padding-right: 30px;
  margin-right: 30px;
}
.looking-for-list div.t .layui-card .layui-card-body div.num a span {
  display: block;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  line-height: 22px;
}
.looking-for-list div.t .layui-card .layui-card-body div.num a h2 {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 38px;
  margin-top: 4px;
  text-align: center;
}
.looking-for-list div.t .layui-card .layui-card-body div.num a::before {
  height: 60%;
  position: absolute;
  top: 20%;
  right: 0;
  content: '';
  display: block;
  border-right: 1px solid #dddddd;
}
.looking-for-list div.t .layui-card .layui-card-body div.num a:last-child::before {
  display: none;
}
.looking-for-list div.b {
  margin-top: 15px;
}
.looking-for-list div.b .layui-card-body {
  padding: 25px 0 0 0;
}
.looking-for-list div.b .layui-card-body > div.list {
  padding: 0 0 30px 0;
}
.looking-for-list div.b .layui-card-body > div.list ul {
  overflow: hidden;
}
.looking-for-list div.b .layui-card-body > div.list ul li {
  float: left;
  margin-top: 30px;
  margin-right: 40px;
  width: 310px;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #dee2e6;
}
.looking-for-list div.b .layui-card-body > div.list ul li.no div.t {
  background-color: #FF8585;
}
.looking-for-list div.b .layui-card-body > div.list ul li.be div.t {
  background-color: #489DFC;
}
.looking-for-list div.b .layui-card-body > div.list ul li.pass div.t {
  background-color: #75D2B2;
}
.looking-for-list div.b .layui-card-body > div.list ul li.off div.t {
  background-color: #A1B1C4;
}
.looking-for-list div.b .layui-card-body > div.list ul li.warn div.t {
  background-color: #FADA8A;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.t {
  padding: 14px 10px;
  overflow: hidden;
  border-radius: 4px;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.t > h2 {
  font-size: 18px;
  font-weight: 600;
  color: white;
  line-height: 25px;
  float: left;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.t div {
  float: right;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.t div > h2 {
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.t div > p {
  font-size: 16px;
  color: white;
  text-align: right;
  margin-top: 8px;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.t div > p span {
  font-size: 25px;
  color: white;
  font-weight: 600;
  margin-right: 5px;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.b {
  margin-top: 25px;
  padding: 0 3px;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.b > h2 {
  font-size: 18px;
  color: #333333;
  line-height: 25px;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.b > div.two {
  margin-top: 23px;
  overflow: hidden;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.b > div.two p {
  font-size: 14px;
  color: #999999;
  line-height: 20px;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.b > div.two p span {
  color: #333333;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.b > div.two p:first-child {
  float: left;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.b > div.two p:last-child {
  float: right;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.b > div.bar {
  margin-top: 18px;
  overflow: hidden;
  position: relative;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.b > div.bar label {
  font-size: 14px;
  color: #999999;
  line-height: 20px;
  float: left;
  display: block;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.b > div.bar .layui-progress {
  position: absolute;
  left: 70px;
  top: 2px;
  right: 30px;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.b > div.bar > p {
  float: right;
  display: block;
  font-size: 16px;
  color: #999999;
  line-height: 22px;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.b > div.bar > p span {
  color: #333333;
}
.looking-for-list div.b .layui-card-body > div.list ul li div.b > span {
  font-size: 14px;
  color: #489DFC;
  line-height: 20px;
  display: block;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 13px;
}
.look-details .project-info div.title {
  overflow: hidden;
}
.look-details .project-info div.title p {
  font-size: 14px;
  color: #666666;
  line-height: 22px;
  float: left;
  padding-right: 30px;
  margin-right: 30px;
  position: relative;
}
.look-details .project-info div.title p span {
  color: #333333;
}
.look-details .project-info div.title p:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 80%;
  display: block;
  right: 0px;
  border-right: 1px solid #dddddd;
  content: '';
}
.look-details .project-info div.title p:last-child:before {
  display: none;
}
.look-details .project-info div.desc {
  margin-top: 25px;
  overflow: hidden;
}
.look-details .project-info div.desc span {
  font-size: 14px;
  color: #666666;
  line-height: 22px;
  float: left;
  display: block;
  width: 70px;
}
.look-details .project-info div.desc p {
  margin-left: 70px;
  font-size: 14px;
  color: #999999;
  line-height: 22px;
  width: 592px;
}
.look-details .project-info div.state {
  margin-top: 40px;
  overflow: hidden;
}
.look-details .project-info div.state span {
  font-size: 14px;
  color: #666666;
  line-height: 22px;
  float: left;
  display: block;
  width: 70px;
}
.look-details .project-info div.state p {
  margin-left: 70px;
  color: #333333;
  line-height: 22px;
  padding-left: 24px;
  position: relative;
}
.look-details .project-info div.state p span {
  color: #489DFC;
}
.look-details .project-info div.state p:before {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 3px;
  content: '';
}
.look-details .project-info div.state p.be::before {
  background: #489DFC;
}
.look-details .project-info div.state p.off::before {
  background: #A1B1C4;
}
.look-details .project-info div.state p.pass::before {
  background: #75D2B2;
}
.look-details .project-info div.obj {
  margin-top: 24px;
  overflow: hidden;
}
.look-details .project-info div.obj > span {
  font-size: 14px;
  color: #666666;
  line-height: 22px;
  float: left;
  display: block;
  width: 70px;
}
.look-details .project-info div.obj p {
  margin-left: 70px;
  line-height: 22px;
  position: relative;
}
.look-details .project-info div.obj p span {
  color: #489DFC;
  font-weight: 600;
  margin: 0 5px;
}
.look-details .project-info div.btn {
  margin-top: 24px;
  overflow: hidden;
}
.look-details .project-info div.btn button {
  width: 154px;
  height: 50px;
  background: #489DFC;
  box-shadow: 0px 2px 10px 0px rgba(72, 157, 252, 0.5);
  border-radius: 4px;
  line-height: 50px;
}
.look-details .project-info div.btn span {
  position: relative;
  top: 15px;
  color: #999999;
  display: inline-block;
  margin-left: 20px;
}
.look-details .project-info {
  margin-top: 15px;
}
.apply-details .apply-info .title {
  overflow: hidden;
}
.apply-details .apply-info .title h2 {
  font-size: 18px;
  color: #333333;
  line-height: 25px;
  float: left;
}
.apply-details .apply-info .title span {
  width: 108px;
  height: 25px;
  text-align: center;
  margin-left: 10px;
  display: block;
  float: left;
  background: rgba(72, 157, 252, 0.2);
  border-radius: 4px;
  font-size: 14px;
  color: #489DFC;
  line-height: 25px;
}
.apply-details .apply-info .hint {
  margin-top: 15px;
  font-size: 14px;
  color: #f55b5b;
  line-height: 20px;
}
.apply-details .apply-info .hint i {
  font-size: 14px;
  color: #f55b5b;
  margin-right: 5px;
}
.apply-details .apply-info .hint span {
  font-size: 18px;
  font-weight: 600;
}
.apply-details .apply-info .form {
  margin-top: 30px;
  height: 40px;
}
.apply-details .apply-info .form .layui-btn {
  border: 1px solid #489DFC;
}
.apply-details .apply-info .form div.l {
  width: 30%;
  float: left;
}
.apply-details .apply-info .form div.l.mytaskl {
  width: 40%;
}
.apply-details .apply-info .form div.l.mytaskl div.rbtn {
  margin-left: 60px;
  display: inline-block;
}
.apply-details .apply-info .form div.r {
  float: right;
}
.apply-details .apply-info .form div.r div.link {
  float: right;
}
.apply-details .apply-info .form div.r div.link p {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-left: 40px;
  cursor: pointer;
}
.apply-details .apply-info .form div.r div.link p a {
  color: #999999;
}
.apply-details .apply-info .form div.r div.link p a:hover {
  color: #489DFC;
}
.apply-details .apply-info .form div.r div.link p i {
  font-size: 20px;
  margin-right: 5px;
  color: #489DFC;
  float: left;
}
.apply-details .apply-info .form div.r > span {
  float: left;
  width: 70px;
  line-height: 40px;
  height: 40px;
  font-size: 14px;
  color: #333333;
}
.apply-details .apply-info .form div.r .layui-input-block {
  float: left;
  height: 16px;
  margin-top: 12px;
  margin-left: 15px;
}
.apply-details .apply-info .form div.r .money {
  float: left;
  margin-left: 45px;
  display: block;
  font-size: 14px;
  color: #333333;
  line-height: 40px;
  height: 40px;
}
.apply-details .apply-info .form div.r .money span {
  font-size: 24px;
  color: #f55b5b;
  line-height: 33px;
}
.apply-details .apply-info .form div.r button {
  float: right;
  margin-left: 25px;
}
.apply-details .apply-list {
  margin-top: 10px;
}
.apply-details .mytask-file {
  padding: 20px 24px;
  background: rgba(72, 157, 252, 0.05);
  border: 1px solid #489DFC;
  overflow: hidden;
}
.apply-details .mytask-file ul li {
  font-size: 14px;
  line-height: 24px;
  float: left;
  margin-right: 70px;
}
.apply-details .mytask-file ul li a {
  color: #337bb7;
}
