body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
table,
td,
img,
div {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: #fff;
  color: #333;
  font-size: 14px;
  font-family: "微软雅黑";
}
ul,
ol {
  list-style-type: none;
}
select,
input,
img,
select {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
a:link {
  color: #333;
}
a:visited {
  color: #333;
}
a:hover,
a:active,
a:focus {
  color: #333;
  text-decoration: none;
}
@font-face {
  font-family: 'iconfont';
  /* project id 1343358 */
  src: url('//at.alicdn.com/t/font_1343358_g3fonjp13r7.eot');
  src: url('//at.alicdn.com/t/font_1343358_g3fonjp13r7.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1343358_g3fonjp13r7.woff2') format('woff2'), url('//at.alicdn.com/t/font_1343358_g3fonjp13r7.woff') format('woff'), url('//at.alicdn.com/t/font_1343358_g3fonjp13r7.ttf') format('truetype'), url('//at.alicdn.com/t/font_1343358_g3fonjp13r7.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
input {
  border: 1px solid #dddddd;
  outline: none;
  font-family: "微软雅黑";
}
input:focus {
  border: 1px solid #dddddd;
}
.l {
  float: left;
}
.r {
  float: right;
}
* {
  box-sizing: border-box;
}
.layui-btn .layui-icon {
  float: left;
}
textarea {
  resize: none !important;
}
.breadcrumb {
  padding: 14px 24px;
  background: #ffffff;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.05);
  z-index: 99;
  position: relative;
}
body {
  min-width: 1400px;
}
.layui-layer.layui-layer-msg {
  min-width: 200px;
  border: 0px;
}
.layui-layer.layui-layer-msg .layui-layer-content {
  color: white;
  font-size: 14px;
  line-height: 30px;
  padding: 10px;
}
.layui-layer.layui-layer-msg .layui-layer-content i {
  color: white;
  font-size: 18px;
  float: left;
  margin-right: 8px;
}
.layui-layer.layer-ext-tips {
  background-color: #f39b12;
}
.layui-layer.layer-ext-success {
  background-color: #00ba9b;
}
.layui-layer.layer-ext-error {
  background-color: #e85445;
}
.layui-layer-tips .layui-layer-content {
  background-color: #444444 !important;
}
.layui-layer-tips .layui-layer-content i {
  border-bottom-color: #444444 !important;
}
.form-get-code .layui-form-item.get-code .layui-input {
  width: 50%;
  float: left;
}
.form-get-code .layui-form-item.get-code span#getCode {
  display: block;
  float: right;
  width: 40%;
  height: 38px;
  background: #ffffff;
  border: 1px solid #489dfc;
  font-size: 14px;
  color: #489dfc;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
}
.main .layui-upload-drag.layui-upload-flow {
  width: 100%;
  padding: 20px;
  background: #ffffff;
  border: 2px dashed #dee2e6;
}
.main .layui-upload-drag.layui-upload-flow .upload-content {
  padding: 30px;
}
.main .layui-upload-drag.layui-upload-flow .upload-content i {
  font-size: 50px;
}
.main .layui-upload-drag.layui-upload-flow .upload-content p {
  font-size: 22px;
  margin-top: 10px;
}
.main .hint-success {
  width: 100%;
  height: 46px;
  background: #e6f7ff;
  border: 1px solid #91d5ff;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 46px;
  padding: 0 20px;
  margin-bottom: 10px;
}
.main .hint-error {
  width: 100%;
  height: 46px;
  background: #fff1f0;
  border: 1px solid #ffa39e;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 46px;
  padding: 0 20px;
  margin-bottom: 10px;
}
.main .matter-remind {
  height: 46px;
  background: #fffbe6;
  border: 1px solid #ffe58f;
  line-height: 46px;
  font-size: 14px;
  padding: 0 20px;
  overflow: hidden;
  color: #8e7241;
}
.main .matter-remind i {
  display: block;
  float: left;
  color: #FAAD14;
  font-size: 14px;
  margin-right: 10px;
}
.main .matter-remind label {
  display: block;
  float: left;
  color: #8E7241;
  font-size: 14px;
  margin-right: 10px;
}
.main .matter-remind a {
  font-size: 14px;
  color: #337bb7;
  line-height: 24px;
  display: inline-block;
  margin-left: 20px;
}
.main .layui-table-view {
  border-color: white;
}
.main .layui-table-header {
  border-color: #f1f1f6;
}
.main .layui-table tr {
  border-color: #f1f1f6;
}
.main .layui-table th {
  border-color: #f1f1f6;
  background-color: #f1f1f6;
}
.main .layui-table td {
  border-color: white;
  transition: 0.1s border-color;
  border-bottom: 1px solid #dddddd;
}
.main .layui-table-cell {
  height: 40px;
  line-height: 40px;
}
.main .layui-table-cell .layui-btn {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #489DFC !important;
  position: relative;
  padding: 0 15px 0 13px;
  margin: 0px !important;
}
.main .layui-table-cell .layui-btn::before {
  position: absolute;
  right: 0;
  top: 20%;
  height: 60%;
  border-right: 1px solid #dddddd;
  content: '';
  display: block;
}
.main .layui-table-cell .layui-btn:last-child::before {
  display: none;
}
.main .layui-table-hover td {
  border-color: #f2f2f2;
}
.main .layui-bg-black {
  background-color: #252A2E !important;
}
.main .layui-layout-admin .layui-body {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  transition: 0.3s left;
  min-width: 1200px;
}
.main .layui-layout-admin .layui-body .content {
  height: calc(100vh - 107px);
  overflow: auto;
  background-color: #f4f4f4;
  position: relative;
}
.main .layui-layout-admin .layui-body .content .container {
  padding: 15px;
}
.main .layui-layout-admin .layui-logo {
  transition: 0.3s width;
  background-color: #252A2E;
  color: white;
}
.main .layui-layout-admin .layui-header {
  background-color: #489DFC;
}
.main .layui-layout-admin .layui-header .layui-nav {
  padding: 0 0;
}
.main .layui-layout-admin .layui-header .layui-nav .layui-nav-item a i.flexible {
  font-size: 20px;
}
.main .layui-layout-admin .layui-header .layui-nav .layui-nav-item.message a i {
  position: relative;
  top: 1px;
  font-size: 16px;
}
.main .layui-layout-admin .layui-side {
  transition: 0.3s width;
  position: absolute;
}
.main .layui-layout-admin .layui-side-scroll .layui-nav {
  background-color: #252A2E !important;
}
.main .layui-layout-admin .layui-nav .layui-this:after,
.main .layui-layout-admin .layui-nav-bar,
.main .layui-layout-admin .layui-nav-tree .layui-nav-itemed:after {
  background-color: rgba(0, 0, 0, 0);
}
.main .layui-nav-tree {
  transition: 0.3s width;
}
.main .layui-nav-tree .layui-nav-item.layui-this > a {
  background-color: #252A2E;
  position: relative;
}
.main .layui-nav-tree .layui-nav-item.layui-this > a cite {
  color: #489DFC;
}
.main .layui-nav-tree .layui-nav-item.layui-this > a:hover {
  background-color: #252A2E;
}
.main .layui-nav-tree .layui-nav-item.layui-this > a::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #489DFC;
  content: '';
  display: block;
}
.main .layui-nav-tree .layui-nav-item.layui-this > a i {
  color: #489DFC;
}
.main .layui-nav-tree .layui-nav-item a {
  height: 60px;
  line-height: 60px;
}
.main .layui-nav-tree .layui-nav-item a cite {
  color: white;
}
.main .layui-nav-tree .layui-nav-item a i {
  color: white;
  font-size: 18px;
  float: left;
  margin-right: 10px;
}
.main .layui-nav-tree .layui-nav-item a:hover {
  background-color: #252A2E;
}
.main .layui-layout-left {
  transition: 0.3s left;
}
.main .layui-tab-title li {
  border-top: 4px solid white;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  line-height: 35px;
}
.main .layui-tab-title li.layui-this {
  border-top: 4px solid #489DFC;
  border-bottom: 2px solid white;
}
.main .layui-tab-title li.layui-this:after {
  height: 35px;
}
.main .layui-table-view {
  margin: 10px 0 0 0;
}
.main .layui-form-label {
  width: auto;
}
.main .layui-form-item .layui-input-inline {
  width: 120px;
}
.main .layui-table-page {
  text-align: right;
  padding: 15px 0;
  height: auto;
}
.main .layui-form-item {
  margin-bottom: 0px;
}
.main .layui-table-tool {
  padding: 0 0 20px 0;
  background-color: white;
}
.main .layui-table-tool-self {
  display: none;
}
.main table {
  width: 100%;
}
.main .layui-btn-white {
  background-color: white;
  border: 1px solid #489DFC;
  color: #489DFC;
}
.main .layui-btn-white:hover {
  background-color: white;
  border: 1px solid #489DFC;
  color: #489DFC;
}
.main .layui-card {
  padding: 0 18px;
}
.main .layui-card .layui-card-header {
  font-size: 18px;
  color: #333333;
  position: relative;
  font-weight: 600;
  border-bottom: 1px solid #e5e5e5;
  line-height: 25px;
  height: auto;
  padding: 12px 20px;
}
.main .layui-card .layui-card-header::before {
  width: 4px;
  height: 16px;
  background: #489DFC;
  border-radius: 3px;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main .layui-card .layui-card-body {
  padding: 25px 0;
}
.side-shrink .layui-layout-admin .layui-logo {
  width: 60px;
}
.side-shrink .layui-layout-admin .layui-logo span {
  display: none;
}
.side-shrink .layui-layout-admin .layui-body {
  left: 60px;
}
.side-shrink .layui-nav-tree {
  width: 60px;
}
.side-shrink .layui-nav-tree .layui-nav-item a cite {
  display: none;
}
.side-shrink .layui-nav-tree .layui-nav-more {
  display: none;
}
.side-shrink .layui-layout-left {
  left: 60px;
}
.side-shrink .layui-layout-admin .layui-side {
  width: 60px;
}
.updata {
  width: 120px;
  height: 120px;
  background: white;
  border: 1px dashed #489DFC;
  padding-top: 30px;
  cursor: pointer;
  position: relative;
}
.updata > i {
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
  color: #489DFC;
}
.updata > span {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
  color: #489DFC;
  line-height: 22px;
}
.updata p.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9;
  display: none;
}
.updata p.img img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.updata p.done {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  line-height: 120px;
  font-size: 16px;
  color: #00ba9b;
  display: none;
}
.updata p.done i {
  font-size: 16px;
  font-weight: 600;
}
.updata .layui-progress {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  left: 0;
  z-index: 19;
  display: none;
}
.verify-tips {
  font-size: 12px;
  color: red;
  position: absolute;
  left: 0;
  top: 100%;
}
a.white {
  color: white;
}
a.white:hover {
  color: white;
}
.layui-layer-content {
  width: 100%;
}
.layui-layer-content a {
  cursor: pointer;
}
.layui-layer-content .msg1 .list {
  padding: 15px 30px;
  overflow: hidden;
  height: 70px;
  border-bottom: 1px solid #E5E5E5;
}
.layui-layer-content .msg1 .list a {
  height: 100%;
  display: block;
}
.layui-layer-content .msg1 .list > a > p {
  float: left;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: #F55B5B;
  border-radius: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-45%);
}
.layui-layer-content .msg1 .list > a > p i {
  font-size: 18px;
  color: white;
}
.layui-layer-content .msg1 .list div {
  margin-left: 45px;
}
.layui-layer-content .msg1 .list div h2 {
  font-size: 14px;
  color: #666666;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.layui-layer-content .msg1 .list div p {
  font-size: 12px;
  color: #999999;
  line-height: 17px;
  margin-top: 5px;
}
.layui-layer-content .msg2 .list {
  overflow: hidden;
}
.layui-layer-content .msg2 .list.on div.msg-desc h2 em i {
  color: #489DFC;
}
.layui-layer-content .msg2 .list div.msg-desc {
  padding: 15px 30px;
  border-bottom: 1px solid #E5E5E5;
}
.layui-layer-content .msg2 .list div.msg-desc h2 {
  height: 20px;
}
.layui-layer-content .msg2 .list div.msg-desc h2 em {
  font-size: 14px;
  color: #666666;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: normal;
  width: 90%;
  float: left;
  display: block;
}
.layui-layer-content .msg2 .list div.msg-desc h2 em i {
  font-style: normal;
  font-size: 14px;
  color: #999999;
}
.layui-layer-content .msg2 .list div.msg-desc h2 span {
  float: right;
  font-size: 14px;
  color: #666666;
  line-height: 20px;
  cursor: pointer;
}
.layui-layer-content .msg2 .list div.msg-desc h2 span.on i {
  transform: rotate(180deg);
}
.layui-layer-content .msg2 .list div.msg-desc h2 span i {
  font-size: 13px;
  margin-left: 5px;
  transition: 0.3s transform;
  display: block;
  float: right;
}
.layui-layer-content .msg2 .list div.msg-desc p {
  margin-top: 8px;
  font-size: 12px;
  color: #999999;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.layui-layer-content .msg2 .list div.msg-desc p em {
  font-style: normal;
}
.layui-layer-content .msg2 .list div.msg-desc p span {
  float: right;
}
.layui-layer-content .msg2 .list div.msg-content {
  padding: 15px 20px;
  border-bottom: 1px solid #E5E5E5;
  display: none;
}
.layui-layer-content .msg3 .list {
  padding: 15px 30px;
  overflow: hidden;
  border-bottom: 1px solid #E5E5E5;
}
.layui-layer-content .msg3 .list div h2 {
  font-size: 14px;
  color: #666666;
  line-height: 20px;
  overflow: hidden;
}
.layui-layer-content .msg3 .list div h2 em {
  float: left;
  max-width: 60%;
  display: block;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.layui-layer-content .msg3 .list div h2 span {
  border: 1px solid #F5222D;
  padding: 0 10px;
  line-height: 20px;
  font-size: 12px;
  color: #F5222D;
  border-radius: 4px;
  float: right;
}
.layui-layer-content .msg3 .list div h2 span.warning {
  border: 1px solid #FFE48F;
  color: #FFE48F;
}
.layui-layer-content .msg3 .list div p {
  margin-top: 8px;
  font-size: 12px;
  color: #999999;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 30px;
  line-height: 17px;
}
.layui-layer-tab .layui-layer-title span.layui-this {
  color: #489DFC;
}
.win-progress {
  padding: 20px;
}
.win-progress .title {
  font-size: 16px;
}
.win-progress .list {
  margin-top: 20px;
}
.win-progress .list .list-progress {
  margin-top: 10px;
  overflow: hidden;
}
.win-progress .list .list-progress:first-child {
  margin-top: 0;
}
.win-progress .list .list-progress .label {
  width: 45%;
  float: left;
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.win-progress .list .list-progress .layui-progress-big,
.win-progress .list .list-progress .layui-progress-big .layui-progress-bar {
  height: 15px;
  line-height: 15px;
}
.win-progress .list .list-progress .layui-progress {
  width: 55%;
  float: right;
}
.layui-btn.layui-btn-success {
  background-color: #00ba9b;
}
.rz-tc {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
}
.rz-tc.sjs-tc .tc-main .desc p {
  color: #395887;
}
.rz-tc.sjs-tc .tc-main .desc p:before {
  background: #395887;
}
.rz-tc.sjs-tc .tc-main .desc div span {
  color: #a6c0e5;
}
.rz-tc.sjs-tc .tc-main .btn a {
  border: 1px solid #a6c0e5;
  color: #395887;
}
.rz-tc.sjs-tc .tc-main .btn a:hover {
  background: linear-gradient(90deg, #d6e6fe 0%, #abc9f4 100%);
}
.rz-tc.fzr-tc .tc-main .desc p {
  color: #7E5C2E;
}
.rz-tc.fzr-tc .tc-main .desc p:before {
  background: #395887;
}
.rz-tc.fzr-tc .tc-main .desc div span {
  color: #BDAD96;
}
.rz-tc.fzr-tc .tc-main .btn a {
  border: 1px solid #BDAD96;
  color: #7E5C2E;
}
.rz-tc.fzr-tc .tc-main .btn a:hover {
  background: linear-gradient(90deg, #fae7bd 0%, #dfbd8a 100%);
}
.rz-tc .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
.rz-tc .tc-main {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  width: 316px;
  background: #ffffff;
  border-radius: 10px;
  margin: 0 auto;
}
.rz-tc .tc-main .t {
  margin-top: -130px;
  float: left;
}
.rz-tc .tc-main .t img {
  width: 100%;
}
.rz-tc .tc-main .close {
  position: absolute;
  right: 0;
  top: -70px;
  z-index: 9;
  color: white;
  cursor: pointer;
}
.rz-tc .tc-main .close i {
  font-size: 28px;
}
.rz-tc .tc-main .desc {
  padding: 150px 0 20px;
  text-align: center;
}
.rz-tc .tc-main .desc p {
  font-size: 15px;
  font-weight: 600;
  color: #7e5c2e;
  line-height: 15px;
  position: relative;
  width: 130px;
  margin: 0 auto;
}
.rz-tc .tc-main .desc p span {
  background-color: white;
  display: inline-block;
  padding: 0 5px;
  position: relative;
  z-index: 9;
}
.rz-tc .tc-main .desc p:before {
  content: "";
  height: 1px;
  background: #7e5c2e;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
}
.rz-tc .tc-main .desc div {
  margin-top: 15px;
}
.rz-tc .tc-main .desc div span {
  font-size: 16px;
  color: #bdad96;
  line-height: 22px;
}
.rz-tc .tc-main .btn {
  padding: 24px 0;
  text-align: center;
}
.rz-tc .tc-main .btn a {
  display: inline-block;
  width: 122px;
  height: 40px;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid #bdad96;
  font-size: 14px;
  font-weight: 600;
  color: #7e5c2e;
  line-height: 38px;
  margin: 0 8px;
}
.rz-tc .tc-main .btn a:hover {
  background: linear-gradient(90deg, #fbd5c7 0%, #fbc2a3 100%);
  border: 1px solid rgba(189, 173, 150, 0);
}
.fdd-pop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  display: none;
}
.fdd-pop .fdd-pop-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.fdd-pop .fdd-pop-zw {
  width: 580px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -290px;
  background: #fff;
  z-index: 2;
  border-radius: 5px;
  margin-top: -150px;
}
.fdd-pop .fdd-pop-title {
  border-bottom: 1px solid #e8e8e8;
  padding: 20px 20px;
  font-size: 18px;
}
.fdd-pop .fdd-pop-title span {
  display: inline-block;
  vertical-align: middle;
}
.fdd-pop .fdd-pop-title .fdd-pop-cha {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-position: -132px 0;
  z-index: 3;
}
.fdd-pop .pop-title-b {
  background: #489DFC;
  height: 18px;
  width: 5px;
  display: inline-block;
  margin-right: 10px;
}
.fdd-pop-list {
  width: auto;
  padding: 60px 20px 80px;
  overflow: hidden;
}
.fdd-pop-list li {
  float: left;
  text-align: center;
  width: 33.33%;
}
.fdd-pop-list li img {
  width: 65px;
  height: 65px;
}
.fdd-pop-list li p {
  font-size: 16px;
  color: #666;
  padding: 15px 0 5px;
}
.fdd-pop-list li a {
  color: #489DFC;
}
